 .form-container {
    padding: 20px;
    background: #FFC107;
    width:50% ;
    margin: auto;
}

.enquiry-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-row input,
.input-row select {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.submit-btn {
    width: 100px;
    padding: 10px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
}

.submit-btn:hover {
    background-color: #e64a19;
}
.notification {
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.success {
    background-color: #4CAF50; /* Green */
/* }

.error {
    background-color: #f44336; /* Red */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@media (max-width: 768px) {
    .input-row {
        flex-direction: column; /* Stack the inputs vertically on smaller screens */
    }

    .form-container {
        width: 100%; /* Use full width for smaller screens */
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .submit-btn {
        width: 100%; /* Ensure the button is easy to tap on smaller screens */
    }
} 