.search-container {
  background: linear-gradient(to bottom, #fefefe, #faf7f7);
  color: black;
  padding: 20px;
  padding-top: 150px;
  text-align: center;
}

h1 {
  color: #ffb703;
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.tabs .active {
  border-bottom: 2px solid #ffb703;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding: 20px; /* Added padding */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle shadow for depth */
  backdrop-filter: blur(4px); /* Optional: Blur effect for glassmorphism style */
}

input, select {
  padding: 10px;
  width: 200px;
}

.search-button {
  display: inline-flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  background-color: #fb8500; /* Orange background */
  color: rgb(247, 245, 245);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.our-partners {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.partners-heading {
  text-align: center;
  color: #ffb703;
}

.partner-slider .slide {
  padding: 0.5rem;
  text-align: center;
  background-color: #faf9f8; /* white background */
  padding: 30px 50px;
  margin: 50px 10px;
}

.partner-slider .slide img {
  max-width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 25px;
}

.ram {
  color: black;
}

.search-city-input {
  width: 650px;
}

/* Testimonial Slider styles */
.testimonial-slider .testimonial-slide {
  background-color: #fefefe20;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 10px;
}

.testimonial-slider blockquote {
  font-size: 1.2em;
  margin: 0 0 10px;
}

.testimonial-slider p {
  font-size: 1em;
  margin: 0;
  font-style: italic;
}

/* Home CSS */
.search-container {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-image: url('../assets/home.jpg');
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.5; /* Adjust the opacity as needed */
}

/* city css */
.featured-cities {
background-color: rgb(251, 244, 244);
padding: 20px;
margin-top: 20px;
}

.cities-heading {
text-align: center;
color: #ffb703;
}

.city-slider {
margin-top: 10px;
}

.city-slider .slide {
padding: 0.5rem;
text-align: center;
}

.city-slider .slide img {
width: 100%;
height: auto;
}

/* our partner css */
.our-partners {
background-color: white;
padding: 20px;
margin-top: 20px;
}

.partners-heading {
text-align: center;
color: #ffb703;
}

.partner-slider {
margin-top: 10px;
}

.partner-slider .slide {
padding: 0.5rem;
text-align: center;
background-color: #faf9f8; /* white background */
padding: 30px 50px;
margin: 50px 10px;
}

.partner-slider .slide img {
max-width: 100%;
height: auto;
}

.partner-slider .slide p {
margin-top: 10px;
color: #333; /* Adjust color as needed */
font-size: 1em; /* Adjust font size as needed */
}
